

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border: 1px solid red; */
}

.container{
    width: 100%;
    height: auto;
    background-color: rgb(28, 28, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar{
    width: 66%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: start;
}

.main img{
    width: 24%;
}

.main a{
    color: rgb(171, 177, 207);
    text-decoration-line: none;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-left: 30px;
}

.cars{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line{
   width: 70px;
   height: 2px;
   background-color: rgb(223, 225, 237);
   margin-left: 30px;
   position: relative;
   top: 10px;
}

.navbar span{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar span button{
    display: none;
}

.navbar span img{
    width: 7%;
}

.navbar span p{
    color: rgb(171, 177, 207);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-inline: 5px;
}

.navbar span i{
    color: rgb(171, 177, 207);
}

.hero-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section h2{
    width:66%;
    color: white;
    font-size: 32px;
    font-weight: 900;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.box{
    width: 66%;
    height: auto;
    background-color: rgb(44, 44, 46);
    padding-block: 10px;
    padding-inline: 11px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.upper{
    width: 220px;
    height: 30px;
    background-color: rgb(59, 59, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.upper button{
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.upper button:nth-child(2){
    background-color: rgb(59, 59, 61);
    padding-inline-start: 10px;
    color: white;
    font-weight: 500;
}

.lower input:nth-child(1){
    background-color: rgb(59, 59, 61);
    border: none;
    width: 470px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.lower input::placeholder{
    color: rgb(157, 164, 176);
    padding-left: 10px;
}

#np1{
    width: 235px;
    height: 40px;
    background-color: rgb(59, 59, 61);
    border: none;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.lower button{
    width: 260px;
    height: 40px;
    margin-left: 5px;
    background-color: rgb(255, 111, 79);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 750;
    color: white;
}

.hero-section h3{
    width:66%;
    color: white;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.box1{
    width: 66%;
    height: auto;
    padding-block: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 185px;
}

.card{
    width: 400px;
    height: 50px;
    background-color: rgb(59, 59, 61);
    color: white;
    margin-right: 20px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.name{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.name h4{
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
}

.name p{
    font-size: 12px;
    font-weight: 400;
}

.card span{
    display: flex;
}

.card span h5{
    color: rgb(255, 110, 79);
    font-size: 16px;
    font-weight: 700;
}

.card span p{
    color: white;
}

.footer-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(44, 44, 46);
    padding-block: 15px;
}

.all{
    width: 66%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between; 
}

.all span{
    width: 45%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.first h3{
    color: rgb(255, 221, 0);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.first ul li{
    list-style: none;
}

.first ul li a{
    text-decoration-line: none;
    color: white;
    font-size: 14px;
    font-weight: 450;
    line-height: 21px;
}

.box3{
    width: 420px;
    height: 65px;
    background-color: rgb(72, 72, 74);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 55px;
    padding-inline-end: 5px;
}

.box3 p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.box3 p:nth-child(3){
    width: 140px;
    height: 55px;
    background-color: rgb(59, 59, 61);
    border-radius: 10px;
    padding-block: 5px;
}

.footer-end{
    width: 100%;
    height: auto;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(44, 44, 46);
    padding-block: 20px;
}

/* responsive 768px */

@media (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
        background-color: rgb(28, 28, 31);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .navbar{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 10px;
        padding-inline: 10px;
    }
    
    .main{
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .main img{
        width: 24%;
    }
    
    .main a{
        color: rgb(171, 177, 207);
        text-decoration-line: none;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        margin-left: 30px;
    }
    
    .cars{
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .line{
       width: 70px;
       height: 2px;
       background-color: rgb(223, 225, 237);
       margin-left: 30px;
       position: relative;
       top: 10px;
    }
    
    .navbar span{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .navbar span button{
        display: inline;
        background-color: rgb(255, 111, 79);
        color: white;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 750;
        margin-right: 10px;
    }
    
    .navbar span img{
        width: 8%;
    }
    
    .navbar span p{
        color: rgb(171, 177, 207);
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        margin-inline: 5px;
    }
    
    .navbar span i{
        color: rgb(171, 177, 207);
    }
    
    .hero-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-inline: 10px;
    }
    
    .hero-section h2{
        width:100%;
        color: white;
        font-size: 32px;
        font-weight: 900;
        padding-block: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .box{
        width: 100%;
        height: auto;
        background-color: rgb(44, 44, 46);
        padding-block: 10px;
        padding-inline: 11px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
    .upper{
        width: 220px;
        height: 30px;
        background-color: rgb(59, 59, 61);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
    .upper button{
        background-color: black;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 3px;
    }
    
    .upper button:nth-child(2){
        background-color: rgb(59, 59, 61);
        padding-inline-start: 10px;
        color: white;
        font-weight: 500;
    }
    
    .lower input:nth-child(1){
        background-color: rgb(59, 59, 61);
        border: none;
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
    }
    
    .lower input::placeholder{
        color: rgb(157, 164, 176);
        padding-left: 10px;
    }
    
    #np1{
        width: 49%;
        height: 40px;
        background-color: rgb(59, 59, 61);
        border: none;
        margin-left: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 5px;
        margin-block: 10px;
    }
    
    .lower button{
        width: 100%;
        height: 40px;
        margin-left: 5px;
        background-color: rgb(255, 111, 79);
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 750;
        color: white;
    }
    
    .hero-section h3{
        width:100%;
        color: white;
        font-size: 26px;
        font-weight: 600;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .box1{
        width: 100%;
        height: auto;
        padding-block: 10px;
        margin-bottom: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 185px;
    }
    
    .card{
        width: 49%;
        height: 50px;
        background-color: rgb(59, 59, 61);
        color: white;
        margin-right: 0px;
        padding-inline: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    .name{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }
    
    .name h4{
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
    }
    
    .name p{
        font-size: 12px;
        font-weight: 400;
    }
    
    .card span{
        display: flex;
    }
    
    .card span h5{
        color: rgb(255, 110, 79);
        font-size: 16px;
        font-weight: 700;
    }
    
    .card span p{
        color: white;
    }
    
    .footer-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: rgb(44, 44, 46);
        padding-block: 0px;
        padding-inline: 10px;
        padding-top: 15px;
    }
    
    .all{
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between; 
        flex-direction: column;
    }
    
    .all span{
        width: 100%;
        display: flex;
    }

    .first{
        width: 50%;
        margin-bottom: 30px;
    }


    .first h3{
        color: rgb(255, 221, 0);
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    
    .first ul li{
        list-style: none;
    }
    
    .first ul li a{
        text-decoration-line: none;
        color: white;
        font-size: 16px;
        font-weight: 450;
        line-height: 25px;
    }
    
    .box3{
        width: 200%;
        height: 65px;
        background-color: rgb(72, 72, 74);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline-start: 55px;
        padding-inline-end: 5px;
    }
    
    .box3 p{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .box3 p:nth-child(3){
        width: 140px;
        height: 55px;
        background-color: rgb(59, 59, 61);
        border-radius: 10px;
        padding-block: 5px;
    }
    
    .footer-end{
        width: 100%;
        height: auto;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        background-color: rgb(44, 44, 46);
        padding-block: 20px;
    }
}